:root{
    --font:"lato", "sans-serif";
    --color1:#332e1d;
    --color2:#5ac7aa;
    --color3:#9adcb9;
    --color4:#fafcd3;
    --color5:#efeba9;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}